<h1>Selecta</h1>

<div ng-controller="SongsCtrl as slctaController">
<form>
  <input type="text" ng-model="slctaController.searchTerm">
  <button ng-click="slctaController.doSearch()">Search</button>
</form>
</div>

<ul>
  <li id="results">
  </li>
</ul>

{{searchTerm}}
